:root {
  --primary-color1: #495e57;
  --primary-color2: #f4ce14;
  --secondary-color1: #ee9972;
  --secondary-color2: #fbdabb;
  --highlight-color1: #edefee;
  --highlight-color2: #333333;
}

.about-container {
  position: relative;
  width: 100%;
  height: auto;
}

.about-heading {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
}

.about-heading h1 {
  font-size: 60px;
  text-align: left;
}

.about-content {
  width: 80%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.about-text,
.about-images {
  flex-basis: 50%;
  flex-shrink: 0;
}

.about-text h1 {
  color: var(--primary-color2);
  font-size: 60px;
}

.about-text h2 {
  font-size: 40px;
  color: var(--highlight-color2);
}

.about-text p {
  font-size: 18px;
  margin: 20px 0;
  padding-right: 20px;
}

.about-images img {
  object-fit: cover;
  border-radius: 16px;
}

.about-image1 {
  width: 100%;
  height: auto;
}

@media (max-width: 1024px) {
  .about-heading h1,
  .about-text h1 {
    font-size: 48px;
  }

  .about-text h2 {
    font-size: 30px;
  }

  .about-text p {
    font-size: 16px;
  }

  .about-image1 {
    height: 450px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .about-heading h1,
  .about-text h1 {
    font-size: 48px;
  }

  .about-text h2 {
    font-size: 30px;
  }

  .about-text p {
    font-size: 16px;
  }

  .about-content {
    flex-direction: column;
    text-align: center;
  }

  .about-images img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 425px) {
  .about-heading h1,
  .about-text h1 {
    font-size: 40px;
  }

  .about-text h2 {
    font-size: 24px;
  }

  .about-text p {
    font-size: 14px;
  }
}
