:root {
  --primary-color1: #495e57;
  --primary-color2: #f4ce14;
  --secondary-color1: #ee9972;
  --secondary-color2: #fbdabb;
  --highlight-color1: #edefee;
  --highlight-color2: #333333;
}

.coming-container {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.42),
      rgba(0, 0, 0, 0.73)
    ),
    url(../Assets/restaurant.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coming-content {
  text-align: center;
  width: 80%;
}

.coming-text h1 {
  font-size: 60px;
  color: var(--highlight-color1);
}

.coming-text p {
  margin-bottom: 20px;
  font-size: 30px;
  color: var(--highlight-color1);
}

@media (max-width: 425px) {
  .coming-text h1 {
    font-size: 40px;
  }

  .coming-text p {
    font-size: 24px;
  }
}
