/* Styling */
:root {
  --primary-color1: #495e57;
  --primary-color2: #f4ce14;
  --secondary-color1: #ee9972;
  --secondary-color2: #fbdabb;
  --highlight-color1: #edefee;
  --highlight-color2: #333333;
}

.specials-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  margin: 50px 0;
  position: relative;
}

.menu-container {
  width: 80%;
  padding: 10px 0;
}

.menu {
  padding: 20px;
}

.special-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.special-heading h1 {
  font-size: 60px;
}

.order-button {
  padding: 15px 30px;
  font-size: 16pt;
  font-weight: 600;
  background-color: var(--primary-color2);
  color: var(--highlight-color2);
  border-radius: 20px;
  border: none;
  margin: 20px 50px;
}

.order-button:hover {
  cursor: pointer;
  background-color: var(--highlight-color2);
  color: var(--primary-color2);
  transition: 0.3s;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0 20px;
}

.menu-card {
  background-color: #edefee;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 16px;
  overflow: hidden;
}

.menu-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 0;
}

.menu-card h2,
.menu-card p {
  padding: 15px;
  color: #495e57;
  background-color: transparent;
}

.menu-card p {
  height: 200px;
}

.menu-card h3 {
  padding: 15px;
  color: #ee9972;
  background-color: transparent;
}

.menu-card h2,
.menu-card h3 {
  font-size: 34px;
}

.menu-card {
  font-size: 18px;
}

.menu h1 {
  font-size: 60px;
}

.heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

@media (max-width: 1024px) {
  .special-heading h1 {
    font-size: 48px;
  }
  .btn {
    padding: 10px 20px;
    font-size: 18px;
  }

  .heading-container {
    height: auto;
    align-items: baseline;
    display: flex;
    justify-content: space-between;
  }

  .heading-container h2 {
    font-size: 20px;
  }

  .heading-container h3 {
    font-size: 20px;
  }

  .card-container p {
    font-size: 16px;
  }

  .order-button {
    padding: 10px 20px;
    font-size: medium;
  }
}

@media (max-width: 768px) {
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu-card {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
  }

  .card-container p {
    font-size: 18px;
    height: auto;
  }
}

@media (max-width: 690px) {
}

@media (max-width: 560px) {
  .special-heading h1 {
    font-size: 30px;
  }

  .btn {
    padding: 10px 20px;
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  .menu-container {
    width: 100%;
  }

  .special-heading {
    padding: 0 20px;
  }

  .card-container {
    width: 90%;
    align-self: center;
  }
}

@media (max-width: 375px) {
  .special-heading h1 {
    font-size: 24px;
  }

  .btn {
    padding: 5px 10px;
  }
}
